#mainContainer {
	/*max-width: 600px;
	text-align: center;*/
}

input.searchBox {
	width: 600px;
}

.details {
	cursor: pointer;
}

li {
	float: left;
	list-style: none;
	padding: 10px;
}

.my-new-list {
	display: inline-block;
	min-width: 770px;
}